.blogLayout{
  display: grid;
  place-content: center;
  max-width: 800px;
  margin:0 auto;
  grid-gap:4rem;
  padding:2rem;
}

@media screen and (max-width: 700px ) {
  .blogLayout{
    padding:1rem;
    padding-top: 7rem;
  }

}