.homePage {
	display: grid;
}
.homePage > section {
	margin-bottom: 15rem;
}

#home {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-area: 1/1/-1/-1;
	place-items: center;
	min-height: 100vh;
	/* height: 2000px; */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url("../../assets/img/pb.png");
	background-size: contain;
	background-position: 80% 100%;
}

#projects {
	grid-template-columns: 1fr;
	max-width: 1200px;
	padding-top: 3rem;
	padding-right: 1rem;
	padding-left: 1rem;
	padding: 4rem 1rem;
	display: grid;
	grid-gap: 3rem;
}

.herosection {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-area: 1/2/-1/-1;
	height: 100%;
	place-items: center;
}

@media screen and (max-width: 1500px) {
	#home {
		place-items: initial;
		justify-items: center;
		min-height: auto;
		height: 1300px;
	}
}
@media screen and (max-width: 1000px) {
	.homePage {
		margin-left: 2rem;
	}
	#home {
		grid-template-columns: 1fr;
		background-position: center;
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.homePage {
		margin-left: 0;
	}
	.homePage > section:first-of-type {
		background-size: cover;
		background-position: center center;
		grid-template-columns: 1fr;
	}
	.homePage > .projects {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 450px) {
	#home {
		background-position: bottom;
	}
}
