.homePage{
  display: grid;
}

.homePage > section:first-of-type{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: 1/1/-1/-1;
  place-items: center;
  min-height: 100vh;
  max-height: 100vh;
  /* height: 1500px; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/pb.png");
  background-size: contain;
  background-position: left;
}
.homePage > section:nth-of-type(2){ 
  height: 100vh;
  background: linear-gradient(to bottom, #feb300 50%, #fff5d7 50%);
}

 @media screen and (max-width:768px ) {
  .homePage > section:first-of-type{
    background-size: cover;
    background-position: center center;
   }
 }