.homePage {
	display: grid;
}

#home {
	display: grid;
	grid-area: 1/1/-1/-1;
	place-items: center;
}

#projects {
	grid-template-columns: 1fr;
	max-width: 1200px;
	padding-top: 3rem;
	padding-right: 1rem;
	padding-left: 1rem;
	padding: 4rem 1rem;
	display: grid;
	grid-gap: 3rem;
	padding-left: 2rem;
	place-self: center;
}
#about,
#contact {
	padding-left: 2rem;
	place-items: center;
	padding-left: 2rem;
	display: grid;
}
.herosection {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-area: 1/2/-1/-1;
	height: 100%;
	place-items: center;
}

@media screen and (max-width: 768px) {
	.homePage {
		margin-left: 0;
	}
	.homePage > section:first-of-type {
		grid-template-columns: 1fr;
	}
	.homePage > .projects {
		display: flex;
		flex-direction: column;
	}
}
