.skills {
	min-height: 100vh;
}
.skills__overview {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 2rem;
}
.skills__overview__libraries {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-area: 1/2/-1/-1;
	grid-gap: 1rem;
	place-items: center;
}
.skills__overview__libraries > span > i {
	font-size: 5rem;
}

.skills__overview__bggimage {
}
.skills__header__title {
	font-size: 5rem;
}

@media screen and (max-width: 768px) {
	.skills__overview {
		display: block;
	}
}
