.blogSummary{
  display: grid;
    max-width: 600px;
    border-radius: 20px;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0.1em 1em 0 rgb(0 0 0 / 40%);
}

/* .blogSummary:hover{
  transform: perspective(300px) rotateY( -3deg) scale(0.95);
  transition: transform 0.3s ease-in-out;
} */