nav{
  position: fixed;
}
.navigationItems{ 
  display: flex;
  flex-direction: column;
  list-style: none;
}
.navigationsItems__item{
  margin-bottom: 1rem;
}
.navigationsItems__item > a{
  text-decoration: none;
}
.navigationsItems__item a:hover{
  border-bottom:2px solid var(--hover-color);
}