.browser-mockup--quick-start {
	min-height: auto;
	border-top-color: #0c344b;
	border-radius: 6px;
	background: #fffaf7;
	color: #2f1829;
}
.browser-mockup {
	position: absolute;
	text-align: left;
	border-top: 2em solid rgba(230, 230, 230, 0.7);
	box-shadow: 0 0.1em 1em 0 rgb(0 0 0 / 40%);
	position: relative;
	border-radius: 6px;
	background: #fffaf7;
	min-height: 400px;
	width: 100%;
	display: grid;
}
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.browser-mockup--quick-start:before {
	left: 20px;
	top: -10px;
}
.browser-mockup:before {
	display: block;
	position: absolute;
	content: "";
	top: -1.25em;
	left: 1em;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: #f5716b;
	box-shadow: 0 0 0 2px #f5716b, 1.5em 0 0 2px #f4c20d, 3em 0 0 2px #3cba54;
}

.browser-mockup > * {
	display: block;
}

.cover {
	z-index: 2;
	grid-area: 1/1/-1/-1;
	width: 100%;
	height: 100%;
	background: white;
	display: grid;
}

.cover:hover {
	z-index: -1;
}
.cover__title {
	place-self: center;
	font-weight: 600;
	font-size: 1.2rem;
}

.projectFrame {
	grid-area: 1/1/-1/-1;
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0 0.1em 1em 0 rgb(0 0 0 / 40%);
	z-index: 1;
}
