.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--hover-color);
	width: 100%;
	min-height: 100vh;
	z-index: 100;
	overflow: hidden;
	display: grid;
	place-content: center;
}

.loading > h1 {
	margin: 0;
}
