footer {
	background-color: #16252d;
	height: 50vh;
	display: grid;
	grid-column: 1 / span 3;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}

.footerList {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.footerList__item {
	margin-right: 1.5rem;
}
.footerList__item__Link:hover {
	color: var(--hover-color);
}
.footerList__item__Link {
	text-decoration: none;
	color: #fff;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}
.footerList__item__Link__name {
	padding-right: 0.5rem;
}
