.app {
	display: grid;
	grid-template-columns: 1fr 6fr;
}
.app > div {
	grid-area: 1/2/-1/-1;
}

@media screen and (max-width: 768px) {
	.app {
		display: grid;
		grid-template-columns: 1fr;
	}

	.app > div {
		grid-area: 1/1/-1/-1;
	}
}
