@font-face {
	font-family: "Aileron";
	src: url("fonts/Aileron-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Aileron-Bold";
	src: url("fonts/Aileron-Bold.otf") format("opentype");
}
@font-face {
	font-family: "Aileron-Light";
	src: url("fonts/Aileron-Light.otf") format("opentype");
}

@font-face {
	font-family: "Fivo Sans Modern Regular";
	src: local("Fivo Sans Modern Regular"), url("fonts/FivoSansModern-Regular.woff") format("woff");
}

@font-face {
	font-family: "Fivo Sans Modern Medium";
	src: local("Fivo Sans Modern Medium"), url("fonts/FivoSansModern-Medium.woff") format("woff");
}

@font-face {
	font-family: "Fivo Sans Modern Bold";
	src: local("Fivo Sans Modern Bold"), url("fonts/FivoSansModern-Bold.woff") format("woff");
}

@font-face {
	font-family: "Fivo Sans Modern Heavy";
	src: local("Fivo Sans Modern Heavy"), url("fonts/FivoSansModern-Heavy.woff") format("woff");
}

@font-face {
	font-family: "Fivo Sans Modern Extra Black";
	src: local("Fivo Sans Modern Extra Black"), url("fonts/FivoSansModern-ExtBlack.woff") format("woff");
}

:root {
	--primary-bg-color: #040404;
	--secondary-bg-color: #0c0f0a;
	--third-bg-color: #000;
	--primary-font-color: #eef0f2;
	--secondary-fontColor: rgba(255, 255, 255, 0.7);
	--link-font-color: #fff5d7;
	/* --hover-color: #104f55; */
	--hover-color: #08fdd8;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Aileron", sans-serif;
	margin: 0;
	background-color: var(--secondary-bg-color);
	color: var(--primary-font-color);
}

h1,
h2 {
	font-family: "Fivo Sans Modern Extra Black";
}
