@font-face {
	font-family: "Aileron";
	src: url("fonts/Aileron-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Aileron-Bold";
	src: url("fonts/Aileron-Bold.otf") format("opentype");
}
@font-face {
	font-family: "Aileron-Light";
	src: url("fonts/Aileron-Light.otf") format("opentype");
}
:root {
	--primary-bg-color: #040404;
	--secondary-bg-color: #0c0f0a;
	--third-bg-color: #000;
	--primary-font-color: #eef0f2;
	--secondary-fontColor: rgba(255, 255, 255, 0.7);
	--link-font-color: #fff5d7;
	--hover-color: #104f55;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Aileron", sans-serif;
	margin: 0;
	background-color: var(--secondary-bg-color);
	color: var(--primary-font-color);
}
