.followUp {
	min-height: 100vh;
	display: grid;
	grid-area: 2/1/2/2;
}
.followUp__title {
	display: flex;
	flex-direction: column;
	place-self: center;
	transform: rotate3d(-1, 1, 0, -45deg);
	transform-style: preserve-3d;
	will-change: transform;
	font-size: 5rem;
	transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	padding-right: 1rem;
}
.followUp__cta {
	place-self: center;
}
.followUp__cta__link {
	display: block;
	place-self: end;
	font-size: 2rem;
	border: 4px solid;
	text-decoration: none;
	font-family: "Fivo Sans Modern Heavy";
	font-weight: 700;
	padding: 0.3em 1em;
	align-self: center;
	justify-self: left;
	margin-top: 1rem;
	background-color: transparent;
	color: var(--primary-font-color);
	transition: background 400ms ease-in-out;
	margin-bottom: 2rem;
}

.followUp__cta__link:hover {
	background: var(--hover-color);
}
.followUp__title > span {
	font-family: "Fivo Sans Modern Heavy";
	text-transform: uppercase;
	font-size: 5rem;
}
.followUp__title:hover {
	transform: rotate3d(0, 1, 0, 0deg);
	transition-duration: 1s;
	color: transparent;
	-webkit-text-stroke: 2px var(--primary-font-color);
	transform-style: preserve-3d;
}

@media screen and (max-width: 450px) {
	.followUp__title > span {
		font-size: 3rem;
	}
}
